@using StudioTemp.Models;
@model List<Employee>
<div class="col-lg-12 grid-margin stretch-card">

    <div class="card">

        <div class="card-body">

            <h4 class="card-title">Employees</h4>
            <div class=" "><a asp-controller="employee" asp-action="create" class="btn btn-success">Create Employee</a></div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Dscription
                            </th>
                            <th>
                                Team
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Employee employee in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/assets/img/@employee.Image" alt="image" />
                                </td>
                                <td>
                                    @employee.Name
                                </td>
                                <td>
                                    @employee.Description
                                </td>
                                <td>
                                   @employee.Team.Name
                                </td>
                                <td>
                                    <a asp-action="update" asp-controller="employee" asp-route-id="@employee.Id" class="btn btn-danger"><i class="mdi mdi-pencil-box"></i></a>
                                    <a asp-action="delete" asp-controller="employee" asp-route-id="@employee.Id" class="btn btn-primary"><i class="mdi mdi-delete"></i></a>
                                    <a asp-action="details" asp-controller="employee" asp-route-id="@employee.Id" class="btn btn-secondary"><i class="mdi mdi-open-in-new"></i></a>
                                </td>
                            </tr>
                        }
                      
                      
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
